*.iml
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.gradle
.kotlin/
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/
/gradle/
/build.gradle.kts
/settings.gradle.kts
/gradle.properties
/gradlew
/gradlew.bat
/captures
.externalNativeBuild
.cxx
local.properties
*.log
